*{
    margin:0;
    padding:0;
    outline: 0;
   border: 0; 
}    
body{
    margin:0;
    font-family: quicksand, sans-serif;
    font-size: 17px;
    color:#ffffff;
    line-height:1.3;
    background-color: #000000; 
}
#werrper{
     background-size: cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#showcase{
    background-image: url("images/laaanding-01.jpg");
     background-size: cover;
    background-position:center;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 20px;
    border-radius: 0 0 50% 50%;     
}
#showcase h1{
    font-size: 50px;
    color: white; 
}
#showcase p{
    font-size: 20px;
  
}
 .button_go{
    font-size:18px;
    text-decoration: none;
    color:#ed6cff;
    border:#ed6cff 2px solid;
    padding:5px 20px;
    border-radius: 20px;
    margin-top: 30px;
    bottom: 40px;
    background-color: #000000;
}
 button:hover{
    background:#ed6cff;
    color: #ffffff;
}
#section-a {
    padding: 100px;
    padding-bottom: 70px;
    padding-left: 470px;
    padding-right: 470px;
    background: #000000;
    text-align:center;
}
h1{
    color: #ff776f;
}
#Username, #password{
    border-radius: 30px;
    width: 200px;
    height: 25px;
}
#Error {
    color: #ff776f;
}
#section-c {
    padding: 90px 470px;
    background: #000000;
    text-align: center;
    padding-bottom: 35px;
}

#section-d {
    background: #000000;
    text-align: center;
padding: 40px;  
}
p1 {
    padding-right: 60px;
    color: #ff776f;
}
p2{
    padding-left: 60px;
    color: #ff776f;
    /* 2nd screen */
}
#showcase2 {
    background-image: url("laaanding-01.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    border-radius: 0 0 50% 50%;
}

#showcase2 h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}

#showcase2 p {
    font-size: 25px;
    margin-bottom: 30px;
}

.button_level {
    font-size: 18px;
    text-decoration: none;
    color: #ed6cff;
    border: #ed6cff 2px solid;
    padding: 5px 20px;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 250px;
    height: 80px;
    width: 110px;
}
}



